$white: #F1F1F1;
$blue: #B2D3EF;
$gray: #555555;

html, body {
  background-color: $blue;
  margin: 0;
}
.root {
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'space-around';
  }

.homeImage {
    height: 400
  }

.gridList {
    width: 500;
    height: 200;
    overflow-y: 'auto';
  }

.gridListResources {
    display: 'flex';
    flex-wrap: 'nowrap';
    overflow-x: 'auto';
  }